*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
  
}
video{
   object-fit: cover;
   object-position: center;
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
}

:root{
    --x:150px;
    --y:150px;
}
#box{
     position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
    background:radial-gradient(150px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.941));
    z-index: 9;
}